body{
  /* background: linear-gradient(to right, #5c504d, #e9e4e1);  */
  /* Gradient background */
  background-color: #d9d6d6;
  font-family:'Arial', sans-serif;
  height: 100vh;
  /* width: 100vw; */
  color:black;
}
body {
  margin: 0;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  width:100% ;
}

.title{
  font-size: 40px;
  font-weight:600;
  padding: 10px;
  font-family:'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
  color: gray;

}

.right-section{
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.about-us-icon-container,
.header-icon-container,
.FAQs-icon-container{
  display: flex;
  margin-right: 2px;
  cursor: pointer;
}

.header-links{
  text-decoration: none;
  color: black;
}

.header-icon{
  height: 24px;
  margin-right: 5px;  
}



.grid-container-instructions{
  display: grid;
  /* grid-template-columns: 500px 500px; */
  grid-template-columns: repeat(auto-fit, 600px);
  margin-top: 20px;
  justify-content: center;
  grid-gap: 10px;
  
}

.instruction-container h2{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
}

.instruction-container ul {
  margin-top: 5px;
}

.instruction-container ul li{
  margin-bottom: 5px;
  line-height: 1.6;
  /* color: #555; */
}



.image-container{
  width: 600px;
  /* max-width: 500px; */
  height: 340px;
  /* background-color: palevioletred; */
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  background-color: white;

  margin-right: 100px;
  border-radius: 5px;
}
.image-container-two{
  width: 580px;
  height: 320px;
  margin-left: 10px;
  margin-top: 10px;
  overflow:hidden;
}
.complaint-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  overflow: hidden;
  
}

/* @keyframes FadeInOut {
  0% {opacity:1;}
  25% {opacity:.75;}
  50% {opacity:.5;}
  100% {opacity:0;}
} */

.image-container-two {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  /* -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s; */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* @-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */


.instruction-container{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 600px;
  /* max-width: 1000px; */
  height: 340px;
  border-radius: 5px;
}

.grid-container-actions{
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ); */
  grid-gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.action-item{
  width: 400px;
  padding-top: 10px;
  text-align: center;
  /* background-color: #f4f4f4; */
  /* background-color: palevioletred; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.actions-img{
  width: 100px;
  height: 100px;

}

.about-us-container{
  margin-top: 20px;
  height: 650px;
  background-color:white;
  display: flex;
  flex-direction: column;
  width: auto;
  overflow: auto;
}

.about-us-container h2{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 400;
}
.welcome-note-about-us{
  line-height: 1.8;
}

.about-us-container ul li{
  line-height: 1.8;
  margin-left: 20px;
}

.contact-us-container{
  height: 190px;
  background-color:red;
  margin-top: 20px;
  background-color: transparent;
  display: flex;
  justify-content:space-around;
}

.contact-us-container h2{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 400;
}

.contact-actions-container{
  text-align: center;
  
}

.contact-us-text h2{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 400;
}

.contact-us-icon{
  height: 100px;
}

.FAQ-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 650px;
  width: auto;
  overflow: auto;
}

.FAQ-title h2{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 400;
}

.FAQs-and-answers ul li{
  list-style-type:decimal;
  font-weight: 500;
  line-height: 1.6;
}

.footer-container{
  display: flex;
  background-color: transparent;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.my-details{
  margin-top: 20px;
  text-align: center;
  line-height: 1.6;

}

