.instructions-container{
  background-color: chartreuse;
}

.instructions{
  /* border: solid red 2px; */
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  color: chocolate;
}

.instructions-points{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: medium;
  color: white;
  background-color:limegreen;
}