.main-box-image{
  justify-content: center;
  align-content: center;
  /* border: red solid 2px; */
  height: 400px;
  width: 700px;
  margin-left: 200px;
}

.complaint-image{
  height: 400px;
  width: 700px;
  object-fit: fill;
  
}