body{
  background-color: lightgray;
}

.navbar-css{
  background-color: #222831;
}

.navbar-brand:hover{
  color: white;
}

.nav-link:hover {
color: white;
}

.btn-primary{
  background-color: #00ADB5;
}

.btn-primary:hover{
  background-color: white;
  color: #222831;
}

.btn-primary:hover:active{
  background-color: #00ADB5;
}

.dropdown-menu{
  --bs-dropdown-link-active-bg: #00ADB5;
}


.logInButton > a{
  text-decoration: none;
  color: white;
}

.navbar-toggler-icon{
  color: white;
}
.hamburger-icon-nav{
  background-color: white;
  width: 25px;
  margin-right: 5px;
}

.complaint-box-image{
  border-radius: 10px;
}

.main-container{
  background-color: white;
  
}

.hero-box{
  background-color: #EEEEEE;
  margin-top: -40px;
  color: #393E46;

}

.hero-text{
  color: #222831;

}
/* h2{
  font-style: italic;
} */

.box-image{
  height: 200px;
  width: 200px;
  background-color: #777;
  border-radius: 50%;
  justify-content: center;
}

.carousel.slide {
  border-radius: 5px;
}

.carousel-box{
  border-radius: 15px;
}

/* Actions Styles */
.actions {
  display: flex;
  justify-content: space-around;
}

.action-item {
  text-align: center;
  flex-basis: 30%;
  background-color:#EEEEEE;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.action-item a {
  text-decoration: none; /* To remove underline from anchor tag */
  color: inherit;
}

.action-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.action-item h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.action-item:hover {
  transform: scale(1.05);
  background-color: #e0f7fa;
}

.action-item:hover img {
  transform: scale(1.1);
  transition: transform 0.3s;
}

/* -------------------- */

.recently{
  background-color: #222831;
  color: white;
  padding-bottom: 4px;
  padding-left: 5px;
}

footer {
  margin-top: 30px;
  font-size: 0.9em;
  color: white;
  background-color: #222831;
}
